<%= render "form" %>

<!-- <form action="/restaurants" method="post">
  <label for="name">Enter a name</label>
  <input type="text" name="restaurant[name]">

  <label for="name">Enter an address</label>
  <input type="text" name="restaurant[address]">

    <label for="name">Enter a rating</label>
  <input type="integer" name="restaurant[rating]">

  <input type="submit">
</form> -->
